body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "calibri";
    font-weight: 400;
    color: #333;
    line-height: 1.42857143;
    font-size: 1.4rem;
    box-sizing: border-box;
}
  


#top_nav_bar {

  background-color: rgb(51, 51, 51);
  color: white;
  padding: 10px 0px;
  position: fixed;

  width: inherit;
  margin-top: -10px;
  margin-left: -10;
  margin-right: -10;
  top: 0;
  z-index: 100;
  font-family: "calibri";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;


}

#cart_container{
  background-color: white;
  position:absolute;
  width: 350px;
  height: 450px;
  float: right;
  margin-top: 10px;
  margin-right: 50px;
  z-index: 10000;
  display: none;
}

@media screen and (max-width:786px) {

  #cart_container{
    width: 200px;
  }
  
}
#cart_show {
  background-color: white;
  width: 350px;
  height: 450px;
  float: right;
  overflow-y: scroll;
  font-family: "calibri";
}
#cart_show>span>a>img{
  float: right;
  width: 25px;
}
.wrapper {
  display: grid;
  width: 320px;
  margin: auto;
  grid-template-columns: 100px 200px;
  grid-gap: 20px;


}

.wrapper::after {
  content: " ";
  height: 0.5px;
  background-color:#333;
  width: 320px;
}

.wrapper>div>img {
  width: 100%;
}
#cart_container>span>a>button{
 width: 300px;
 padding: 15px;
 font-family: "calibri";
 border: solid 1px #333;
}
#cart_container>span>a>button:hover{
  background-color: black;
  color: white;
}
#cart_container>span{
margin-left: 8%;
}

.sticky_header {
  background-color: #FBF9F9;
  font-size: 15px;
  font-weight: 400;
  font-family: "calibri";
  color: #333;
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 100;
}

a {
  text-decoration: none;
  color: #333;
}

.page_content {
  max-width: 1200px;
  display: flex;
  margin: auto;
  gap: 1px;

}

.hr {
  margin: 0px auto;
  max-width: 1200px;
  height: 1px;
  background-color: #333;
}

.page_content>div {
  flex-basis: 400px;
  margin: auto;
  padding: 5px;
}

.page_content>div>span {
  margin: auto 10px;
}

.page_content>div:nth-child(3)>span {
  cursor: pointer;
  margin-left: 30px;
}

.page_content>div:nth-child(2)>span {
  margin-left: 30px;
}

.page_content>div>span>button {
  background-color: transparent;
  border: none;
}

#logo {
  width: 33%;
  margin-left: 30%;
}

#cart_total{
  cursor: pointer;
  text-align: center;
  padding: 3px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: black;
  color: #FBF9F9;
  border-radius: 50%;
}
.nav_sections{
  max-width: 1200px;
  margin: auto;

}
.nav_sections ul{
 display: flex;
 list-style: none;
 flex-wrap: wrap;

}
.nav_sections ul li{
 margin: auto;
 padding: 10px;
 background-color: #FBF9F9;
 z-index: 999;

}
.row{
 display: flex;
 margin: 20px auto;
}
.row>div{
 flex-basis: 500px;
 margin: auto;
}
.row>div>img{
 width: 600px;
 margin: auto;
}
.mega_box{
 position: absolute;
 width: 100%;
 display: none;
 background-color: #FBF9F9;
 right: 0;
 
}

.nav_sections ul li:hover .mega_box{
 display: block;
 background-color: #FBF9F9;
 margin: auto;
}
.col-1 ul,.col-2 ul{
 display: block;
}
.col-1,.col-2{
 margin: 0;
}
      
  .slide-container .prev,
  .slide-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: .7;
    display: none;
  }
  .slide-container:hover .imageNext{
      display: block;
      right: 2px;
  }
  .slide-container:hover .imagePrev{
      display: block;
      left: 2px;
  }
  .slide-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 200px;
    position: relative;
    cursor: pointer;
  }
  .slide-container:hover .dots-container{
      display: flex;
  }
  
  .dots-container {
    position: absolute;
    left: 50%;
    bottom: 1%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: none;
  }
  .dots-container :hover{
      display: block;
  }
  
  .dots-container .dot {
    cursor: pointer;
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
  }
  
  .dots-container .dot.active {
    background-color: white;
  }
  
  * {
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  body h1 {
    text-align: center;
  }
  
  .slide-container .slide {
    display: none;
    width: 100%;
  }
  
  .slide-container .slide img {
    width: 100%;
  }
  @media screen and (min-width: 1024px) {
      .slide-container{
          display: flex;
      }
  }

.best_seller_product{
    padding-bottom: 60px;
    max-width: 1250px;
    margin: auto;
}
.span{
    display: block;
    font-size: 15px ;
    font-weight: 400;
}
.span::after{
    display: block;
    content: " ";
}
.shop_now{
    right: 0;
    float: right;
    font-size: 15px ;
    font-weight: 400;
    color: #333;
    
}
.shop_now::after{
    display:inline-block;
    height:15px;
    width:30px;
    margin-right: 10px;
    content: "";
    background:url("images/arrow-right--i7ih6S.svg") no-repeat 0 0;
    background-size: 30px 20px;
}
#best_product_info{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}
#best_product_info>div{
    flex-basis: 300px;
    font-size: 15px;
    font-weight: 300;
    margin: 0px auto;
    background-color: #FBF9F9;
    
}
#best_product_info>div>p{
  width: 180px;
}
#best_product_info>div>img{
  width: 300px;
}
#best_product_info>div>button{
    margin: auto;
    width: 300px;
    padding: 20px;
    background-color: transparent;
    margin-left: 5px;
    border: solid 1px black;
    cursor: pointer;
}
.container{
  max-width: 1250px;
  margin: auto;
}  
.container>h2{
    font-weight: 400;
    margin-top: 5rem;
}
#best_seller_page_h2>h2{
  text-align: center;
  font-weight: 400;
  font-family: "calibri";
}
.btn_arrow::after{
  content: "  ˅";
  color: black;
  float: right;
}
#filter_options{
  position: absolute;
  width: 100%;
  z-index: 1;
  display: none;
  background-color: #FBF9F9;
}
#filter_options>label{
  font-family: "calibri";
  font-weight: 400;
  color: #333;
  font-size: 15px;
}
.filter{
  width: 400px;
  margin: 50px auto;
  margin-bottom: 10px;
  display: flex;
  
}
.filter>button{
  width: 200px;
  padding: 10px;
  background-color: transparent;
  border: solid 1px #333;
  font-family: "calibri";
  font-weight: 400;
  color: #333;
}
#op{
  width: 200px;
  padding: 10px;
  background-color: transparent;
  border: solid 1px #333;
  font-family: "calibri";
  font-weight: 400;
  color: #333; 
}


/* OWL - Carousel */


.owl-container {
  max-width: 90%;
  margin-left: 2rem;
}

.item {

  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-item{
  margin-right: 20px;
}

.item h4 {
  font-size: 2rem;
}


.owl-next {
  position: absolute;
  top: 25%;
  right: -2rem;
}
.owl-prev {
  position: absolute;
  top: 25%;
  left: -2rem;
}
.owl-prev > img{
  width: 18px;
}
.owl-next > img{
  width: 18px;
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
  background: none !important;
  outline: none !important;
  opacity: 1;
}

.owl-nav .owl-prev, .owl-nav .owl-next {
  outline: none;
  opacity: 0.6;
  transition: all .5s ease;
}

.owl-dots {
  margin-top: 1rem;
}

.owl-dot {
  outline: none;
}

.owl-dot.active, .owl-dot:hover {
  transition: all .2s ease;
  transform: scale(1.2);
}


@media screen and (max-width: 600px) {
  .owl-nav {
    display: none;
  }

  .owl-dots {
    display: none;
  }
}


#category{
  margin-top: 5rem;
  margin:auto;
  max-width: 113%;
 
}
.item img {
max-width: 100%;
margin-bottom: 2rem;

}
.item > div{
  margin: auto;
  flex-basis: 300px;
  font-size: 15px;
  font-weight: 300;
  margin: auto;
 
  

} .category_shop_now{
  left:10%;
  float: left;
  font-size: 15px ;
  color: #333;
  
}

.category_shop_now::after{
  display:inline-block;
  height:15px;
  width:30px;
  margin-right: 10px;
  content:"";
  background:url("images/arrow-right--i7ih6S.svg") no-repeat 0 0;
  background-size: 30px 20px;
}
h2{
  max-width: 1250px;
}
.category_span{
  display: block;
  font-size: 15px ;
 
  color:#333
}


#focus{
  display:flex;
  background-color: rgb(243, 243, 243);
  margin-top: 5%;
  width: cover;
}
#focus>div{
  width:45%;
  justify-content: center;
  margin:2% 4% 2% 4%;
  
}
#focus img{
  max-width:100%;
}
a{
  color-adjust: #333;
}

#gifts_info{
  display: flex;
  flex-wrap: wrap;

} 

@media screen and (max-width:786px) {
  #gifts_info{
    gap: 10px;
  }
  .page_content>div{
    flex-basis: 200px;
  }
  .best_seller_product_786{
    margin-top: 250px;
  }
}
#best_seller_product_786{
  margin-top: 250px;
}
#gifts_info>div{
  flex-basis: 250px;
  font-size: 15px;
  font-weight: 300;
  margin: auto;
  background-color: rgb(243, 243, 243);
  
}
#gifts_info>div>button{
  margin: auto;
  width: 300px;
  padding: 20px;
  background-color: transparent;
  margin-left: 5px;
  border: solid 1px black;

}


/* footer css start */

footer {
  background-color: #FBF9F9;
}

body {
  color: rgb(51, 51, 51);
  font-family: "calibri";
}

.grid-box1>div>div:nth-child(2) {

  font-size: 27px;
  font-weight: 500;
  line-height: 29.7px;
  color: rgb(51, 51, 51);


}


.grid-box2>div {
  font-size: 11px;
  font-weight: 400;
  line-height: 36px;

  color: rgb(88, 86, 86);

}

.grid-box3 {

  display: grid;
  grid-gap: 20px;
  grid-template-columns: 49% 49%;
  padding: 20px 150px;
}

.grid-box3>div {
  border-top: 1px solid#bfbfbf;
  padding-top: 10px;
}



#payment_bottom {
  font-size: 11px;
  font-weight: 400;
  line-height: 15.7143px;

}

#payment_bottom>img {

  width: 580px;

  margin-top: 50px;
}

.grid-box1,
.grid-box2 {
  display: grid;
  grid-gap: 20px;
  padding: 20px 150px;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 49.5% 49, 5%;
}

.icon-content {
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
}

.icon {
  width: 50px;
  height: 50px;
}

.grid-box2>div {
  border-top: 1px solid#bfbfbf;
}

.grid-box1>div {
  border-top: 1px solid#bfbfbf;
}

.icon {
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  margin: 20px 10px;
}

.icon>img {
  margin-left: -10px;
  margin-top: -6px
}

.center-box {
  margin: auto;
}

.icon-box>div {
  padding: 20px
}




.grid-box2>div>div:nth-child(1) {
  margin-bottom: 20px;
}



#contact_div {

  line-height: 18px;
}

#contact_div>div {

  margin-bottom: 30px;
  margin-top: 10px;
}


/* footer css ends */


/* testimonial css start */
.testimonial_name {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;

}

.h1_testimonial {
  margin-left: 100px;
  padding: 20px
}

#testimonial_bg {

  background: url(https://images.forestessentialsindia.com/pub/media/testimonials/Sanjeevani-testimonial.jpg);
  background-size: cover;
  padding: 100px 0;
  background-position: center;
}


.dash {
  padding-bottom: 14px;
}

#testimonial_parent>div {
  background-color: rgba(250, 250, 250, 0.87);
  margin: 0px auto;
}

#testimonial_parent>div>span {
  margin-left: 130px;
}



#testimonial_parent>div {
  padding: 15px 10px 0 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}


#testimonial_parent>div .testimonial_content {
  height: 130px;
  margin: 10px 5px 10px 5px
}


#testimonial_parent {
  margin: auto;
  max-width: 1200px;
  height: 260px;
}


#testimonial_parent {
  display: grid;
  grid-template-columns: 24.2% 24.2% 24.2% 24.2%;
  grid-template-rows: 100%;
  grid-gap: 10px
}
@media screen and (max-width:786px) {
  #testimonial_parent {
    display: grid;
    grid-template-columns: 48.2% 48.2%;
    grid-template-rows: 100% 100%;
    grid-gap: 10px
    
  }
  #testimonial_parent>div:nth-child(3), #testimonial_parent>div:nth-child(4){
    display: none;
  }
  .page_content {
    max-width: 1200px;
    display: flex;
    margin: auto;
    gap: 1px;
    flex-wrap: wrap;
  
  }
  

  body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "calibri";
    font-weight: 400;
    color: #333;
    line-height: 1.42857143;
    font-size: 1.4rem;
    box-sizing: border-box;
  }

}
#testimonial_parent>div:nth-child(1) {
  margin-left: 10px;
}

.h1_testimonial {


  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  color: rgb(51, 51, 51)
}

/* testimonial css ends */


/* newsletter */
.row1 {
  margin: auto;
  background-color: #FBF9F9;
  padding-top: 10px;
}
.news_letter {
  width: 700px
}

.news_letter>input {
  padding: 15px 30px 15px 10px;
  width: 600px
}


.center_text {
  text-align: center;
}

.center-item {
  align-items: center;
}