body{
    padding: 0;
    margin: 0;
    font-family: "calibri";
    font-weight: 400;
    color: #333;
    line-height: 1.42857143;
    font-size: 1.4rem;
    box-sizing: border-box;
}
  


#top_nav_bar {

  background-color: rgb(51, 51, 51);
  color: white;
  padding: 10px 0px;
  position: static;

  width: inherit;
  margin-top: -10px;
  margin-left: -10;
  margin-right: -10;
  top: 0;
  z-index: 100;
  font-family: "calibri";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;


}

.sticky_header {
  background-color: #FBF9F9;
  font-size: 15px;
  font-weight: 400;
  font-family: "calibri";
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.page_content {
  width: 1200px;
  display: flex;
  margin: auto;
  gap: 1px;

}

.hr {
  margin: 0px auto;
  width: 1200px;
  height: 1px;
  background-color: #333;
}

.page_content>div {
  flex-basis: 400px;
  margin: auto;
  padding: 5px;
}

.page_content>div>span {
  margin: auto 10px;
}

.page_content>div:nth-child(3)>span {
  cursor: pointer;
  margin-left: 30px;
}

.page_content>div:nth-child(2)>span {
  margin-left: 30px;
}

.page_content>div>span>button {
  background-color: transparent;
  border: none;
}

#logo {
  width: 33%;
  margin-left: 30%;
}

#cart_total{
  cursor: pointer;
  text-align: center;
  padding: 3px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: black;
  color: #FBF9F9;
  border-radius: 50%;
}
.nav_sections{
  width: 1200px;
  margin: auto;

}
.nav_sections ul{
 display: flex;
 list-style: none;

}
.nav_sections ul li{
 margin: auto;
 padding: 10px;
 background-color: #FBF9F9;
 z-index: 999;

}
.row{
 display: flex;
 margin: 20px auto;
}
.row>div{
 flex-basis: 500px;
 margin: auto;
}
.row>div>img{
 width: 600px;
 margin: auto;
}
.mega_box{
 position: absolute;
 width: 100%;
 display: none;
 background-color: #FBF9F9;
 right: 0;
 
}

.nav_sections ul li:hover .mega_box{
 display: block;
 background-color: #FBF9F9;
 margin: auto;
}
.col-1 ul,.col-2 ul{
 display: block;
}
.col-1,.col-2{
 margin: 0;
}
      
  .slide-container .prev,
  .slide-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: .7;
    display: none;
  }
  .slide-container:hover .imageNext{
      display: block;
      right: 2px;
  }
  .slide-container:hover .imagePrev{
      display: block;
      left: 2px;
  }
  .slide-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    position: relative;
    cursor: pointer;
  }
  .slide-container:hover .dots-container{
      display: flex;
  }
  
  .dots-container {
    position: absolute;
    left: 50%;
    bottom: 1%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: none;
  }
  .dots-container :hover{
      display: block;
  }
  
  .dots-container .dot {
    cursor: pointer;
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
  }
  
  .dots-container .dot.active {
    background-color: white;
  }
  
  * {
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  body h1 {
    text-align: center;
  }
  
  .slide-container .slide {
    display: none;
    width: 100%;
  }
  
  .slide-container .slide img {
    width: 100%;
  }
  @media screen and (min-width: 1024px) {
      .slide-container{
          display: flex;
      }
  }

.best_seller_product{
    padding-bottom: 60px;
    width: 1250px;
    margin: auto;
}
.span{
    display: block;
    font-size: 15px ;
    font-weight: 400;
}
.span::after{
    display: block;
    content: " ";
}
.shop_now{
    right: 0;
    float: right;
    font-size: 15px ;
    font-weight: 400;
    color: #333;
    
}
.shop_now::after{
    display:inline-block;
    height:15px;
    width:30px;
    margin-right: 10px;
    content: "";
    background:url("images/arrow-right--i7ih6S.svg") no-repeat 0 0;
    background-size: 30px 20px;
}
#best_product_info{
    display: flex;
    gap: 10px;
}
#best_product_info>div{
    flex-basis: 250px;
    font-size: 15px;
    font-weight: 300;
    margin: auto;
    background-color: #FBF9F9;
    
}

#best_product_info>div>button{
    margin: auto;
    width: 300px;
    padding: 20px;
    background-color: transparent;
    margin-left: 5px;
    border: solid 1px black;
}  
.container>h2{
    font-weight: 400;
}
#best_seller_page_h2>h2{
  text-align: center;
  font-weight: 400;
  font-family: "calibri";
}
.btn_arrow::after{
  content: "  Ë…";
  color: black;
  float: right;
}
.filter{
  width: 400px;
  margin: 50px auto;
  display: flex;
  
}
.filter>button{
  width: 200px;
  padding: 10px;
  background-color: transparent;
  border: solid 1px #333;
  font-family: "calibri";
  font-weight: 400;
  color: #333;
}
#op{
  width: 200px;
  padding: 10px;
  background-color: transparent;
  border: solid 1px #333;
  font-family: "calibri";
  font-weight: 400;
  color: #333; 
}

#category{
  display:flex;  
  gap: 10px;
  justify-content:center; 
}
#category img {
max-width: 100%;

}
#category>div{
  margin: auto;
  flex-basis: 300px;
  font-size: 15px;
  font-weight: 300;
  margin: auto;
 
  

} .category_shop_now{
  left:10%;
  float: left;
  font-size: 15px ;
  
  color: #333;
  
}

.category_shop_now::after{
  display:inline-block;
  height:15px;
  width:30px;
  margin-right: 10px;
  content:"";
  background:url("images/arrow-right--i7ih6S.svg") no-repeat 0 0;
  background-size: 30px 20px;
}
.category_span{
  display: block;
  font-size: 15px ;
 
  color:#333
}


#focus{
  display:flex;
  background-color: rgb(243, 243, 243);
  margin-top: 5%;
  width: cover;
}
#focus>div{
  width:45%;
  justify-content: center;
  margin:2% 4% 2% 4%;
  
}
#focus img{
  max-width:100%;
}
a{
  color-adjust: #333;
}

#gifts_info{
  display: flex;
  gap: 10px;

} 
#gifts_info>div{
  flex-basis: 250px;
  font-size: 15px;
  font-weight: 300;
  margin: auto;
  background-color: rgb(243, 243, 243);
  
}
#gifts_info>div>button{
  margin: auto;
  width: 300px;
  padding: 20px;
  background-color: transparent;
  margin-left: 5px;
  border: solid 1px black;

}